In [41]:
import pandas as pd
df = pd.read_csv('../input/titanic/train.csv')
df.head(1).T

                                   0
PassengerId                        1
Survived                           0
Pclass                             3
Name         Braund, Mr. Owen Harris
Sex                             male
Age                             22.0
SibSp                              1
Parch                              0
Ticket                     A/5 21171
Fare                            7.25
Cabin                            NaN
Embarked                           S

In [4]:
from sklearn.model_selection import ShuffleSplit
shu = ShuffleSplit(n_splits=2, test_size=.3, random_state=0)
for train_id, test_id in shu.split(df):
    train = df.iloc[train_id]
    test = df.iloc[test_id]

In [5]:
target = 'Survived'
num = [x for x in df.columns if df.dtypes[x] != 'object']
cat = [x for x in df.columns if df.dtypes[x] == 'object']
num.remove(target)
print('num ->', num)
print('cat ->', cat)

num -> ['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
cat -> ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [42]:
import seaborn as sns

In [46]:
import numpy as np

In [47]:
cr = train.corr(numeric_only=True)
np.diagonal(cr, 0)

array([1., 1., 1., 1., 1., 1., 1.])

In [48]:
cr

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,0.003605,-0.019167,0.010916,-0.071526,0.018522,0.001875
Survived,0.003605,1.000000,-0.344759,-0.101824,0.004667,0.098370,0.272715
Pclass,-0.019167,-0.344759,1.000000,-0.365935,0.054459,0.020432,-0.544719
Age,0.010916,-0.101824,-0.365935,1.000000,-0.307745,-0.187615,0.093567
SibSp,-0.071526,0.004667,0.054459,-0.307745,1.000000,0.384403,0.168531
Parch,0.018522,0.098370,0.020432,-0.187615,0.384403,1.000000,0.206501
Fare,0.001875,0.272715,-0.544719,0.093567,0.168531,0.206501,1.000000

# Model

In [29]:
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
model = make_pipeline(SimpleImputer(), GaussianNB());
model.fit(train[num], train[target]);
pred = model.predict(test[num])

# Validate

In [30]:
from sklearn.model_selection import cross_val_score
cross_val_score(model, test[num], test[target], cv=10).mean()

0.6646723646723647

# Submission

In [32]:
exam = pd.read_csv('../input/titanic/test.csv')

In [38]:
submission = pd.DataFrame({
    'PassengerId': exam['PassengerId'],
    'Survived': model.predict(exam[num])
})

In [39]:
submission.to_csv('submission.csv', index=False)