In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../input/titanic/train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
from sklearn.model_selection import ShuffleSplit

In [5]:
shu = ShuffleSplit(n_splits=2, test_size=.3, random_state=0)

In [7]:
for train_id, test_id in shu.split(df):
    train = df.iloc[train_id]
    test = df.iloc[test_id]

In [11]:
target = 'Survived'

In [ ]:
[f for f in df.columns if df.dtypes[f] != 'object']

In [24]:
num = [x for x in train.columns if df.dtypes[x] != 'object']
num

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [25]:
num.remove(target)
num

['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [26]:
from sklearn.naive_bayes import GaussianNB

In [27]:
mod_gau = GaussianNB()

In [29]:
train[num].isnull().any()

PassengerId    False
Pclass         False
Age             True
SibSp          False
Parch          False
Fare           False
dtype: bool

In [30]:
train.loc[train['Age'].isnull(), 'Age'] = train['Age'].mean()

In [34]:
mod_gau.fit(train[num], train[target]);

In [36]:
test.loc[test['Age'].isnull(), 'Age'] = test['Age'].mean()

In [38]:
pred = mod_gau.predict(test[num])

In [39]:
from sklearn.model_selection import cross_val_score

In [43]:
cross_val_score(mod_gau, test[num], pred, cv=10).mean()

0.9923076923076923

In [48]:
exam = pd.read_csv('../input/titanic/test.csv')

In [53]:
exam.loc[exam['Age'].isnull(), 'Age'] = exam['Age'].mean()
exam.loc[exam['Fare'].isnull(), 'Fare'] = exam['Fare'].mean()

In [54]:
exam[num].isnull().any()

PassengerId    False
Pclass         False
Age            False
SibSp          False
Parch          False
Fare           False
dtype: bool

In [59]:
submission = pd.DataFrame({'PassengerId': exam['PassengerId'],
                           'Survived': mod_gau.predict(exam[num])
                          })

In [62]:
submission.to_csv('submission.csv', index=False)